<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java-collections-framework/src/com/cf06/Using_your_own_objects_in_sets_and_maps/App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cf06.Using_your_own_objects_in_sets_and_maps.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java-collections-framework"/>
</launchConfiguration>
